---
export interface Props {
  descriptionMedia: string;
  iconMedia: string;
  socialMediaName: string;
  urlMedia: string;
}

const { descriptionMedia, iconMedia, socialMediaName, urlMedia = '#' } = Astro.props;
---

<section class="text-gray-400body-font">
  <div class="container px-10 mx-auto">
    <div
      class="h-full bg-gray-800 bg-opacity-40 px-6 pt-8 pb-12 rounded-lg overflow-hidden text-center relative"
    >
      <div class="text-center leading-none flex justify-center top-0 left-0 w-full">
        <a href={urlMedia} target="_blank" rel="noopener noreferrer">
          <img
            src={iconMedia}
            alt={descriptionMedia}
            class="w-36 hover:cursor-pointer transition duration-300 transform-gpu hover:scale-110"
          />
        </a>
      </div>

      <h1 class="title-font sm:text-2xl text-xl font-medium text-white mb-3">
        {socialMediaName}
      </h1>

      <p class="leading-relaxed mb-3 text-gray-400">
        {descriptionMedia}
      </p>

      <a
        class="text-[#d55e64] inline-flex flex-col items-center hover:cursor-pointer transition duration-300 transform-gpu hover:scale-105"
        href={urlMedia}
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg
          class="w-4 h-4 mt-2 transform rotate-90"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M5 12h14"></path>
          <path d="M12 5l7 7-7 7"></path>
        </svg>

        <span class="flex items-center">
          Síguenos por {socialMediaName}
        </span>
      </a>
    </div>
  </div>
</section>
