---
const { color, idSection, subTitle, title } = Astro.props;
const textColor = `text-${color}`;
---

<section
  class="landing-section bg-black h-screen w-screen text-center overflow-hidden relative"
  data-header-color={color}
  id={idSection}
>
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2 class={`${textColor} pt-28 text-[40px] font-medium`}>{title}</h2>

      <p class={`${textColor} text-xl mt-2`}>{subTitle}</p>
    </header>

    <slot />

    <footer class="flex flex-col flex-grow justify-end pb-20">
      <div>
        <slot name="footer" />
      </div>

      <div>
        <a
          class="flex justify-center sm:justify-end sm:pr-20 mt-4 mb-0 hover:cursor-pointer transition duration-300 transform-gpu hover:scale-y-110"
          href="https://rootdevs.es/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <span class="text-white flex items-center pr-2">Made with ❤️ by</span>
          <img src="/images/logo-purple.png" alt="Logo rootdevs.es" class="h-12 mt-2 md:mt-0" />
        </a>
      </div>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <slot name="background" />
  </div>
</section>
